.ipynb_checkpoints/
HW-1/__pycache__/
HW-1/*.xlsx
HW-1/test.py
HW-1/.ipynb_checkpoints/

HW-2/__pycache__/
HW-2/*.nc
HW-2/alt*.py

HW-3/*.nc

HW-4/__pycache__/   
HW-4/nina34.data.climatedatacenter.txt
HW-4/backup/
